body {
    background-color: lightgrey;
}

h1 {
    color: red;
    padding-left: 15px;

}

img {
    display: block;
    margin: auto;
}

.main {
    margin: auto;
    width: 50%;
    padding: 20px;
}

#mugText {
    text-align: center;
    font-weight: bold;
}

.divider {
    background-color: black;
    height: 2px;
    padding-bottom: 5px:
}