body {
    background-color: lightblue;
}

h1 {
    color: red;

}

.main {
    margin: auto;
    width: 50%;
    padding: 20px;
}

img {
    display: block;
    margin: auto;
}

#mugText {
    text-align: center;
    font-weight: bold;
}